.body{
    width: 100px;
height: 100vh;
background-image: linear-gradient(to bottom right, yellow 10%, white 50%)

}
.google{
    position: absolute;
    left: 1400px;
    top: 420px;
    
    
}
.container{
    display:flex;
    flex-direction:column;
    margin:auto;
    margin-top:255px;
    margin-left:1200px;
    background:#fff;
    width:500px;

}

.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:9px;
    width:100%;
    margin-top:30px;
}
.text{
    color:black;
    font-size:40px;
    font-weight:700;
    margin-left:-150px;
}
.email{
    margin-left:110px;
    margin-top:100px;
    font-size: 25px;
}
.pass{
    margin-left:110px;
    margin-top:20px;
    font-size: 25px;
}

.inputs{

    margin-left:40px;
    display:flex;
    flex-direction:column;
    gap:0px;
    margin-top:50px;
    
}
.signin{
    text-align:center;
    margin-left:-90px;
    margin-top:-50px;
}

.input{
    width:200px;
    height:30px;
    border:1px solid gray;
    margin-left:130px;
    box-shadow: 1px 1px 1px 1px gray;
    

}

.button1{
    margin-Left:150px;
    margin-top:10px;
    font-size:25px;
    border:4px;
    border-radius:10px;
    height:50px;
    width:80%;
    color:white;
    background-color:rgb(45, 72, 228);
    cursor:pointer;
}
.forgot{
    font-size:11px;
    margin-Left:170px;
    color:rgb(45, 72, 228);
    margin-top:40px;
}
.reg{
    margin-top:10px;
    margin-left:170px;
    font-size:11px;
}
.gray{
    color:gray;
    background: #EAEAEA;
}
.imge_icon{
    flex-direction: column;
    width:40px;
    height:40px;
    padding: 10px;
}
.imge_icon1{
    display:flex;
    margin-top: 700px;
    margin-left: 100px;
    
}
.board{
    color:white;
    margin-top: -500px;
    font-size: 70px;
    margin-left:400px;

}